.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
}

.hide .loader {
    display: none;
}

#body {
    position: relative;
}

#body::before {
    content: '';
    width: 100%;
    height: 100%;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    position: absolute;
}

#body.hide::before {
    width: 0;
    height: 0;
    min-height: 0;
    min-width: 0;
}

.img-table {
    max-width: 2rem;
}

.task-container table tbody {
    border: 1px solid rebeccapurple;
}

.task-container table tbody {
    width: 100%;
    max-height: 50vh;
    height: 100%;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
    display: block;
}

.task-container table tbody tr {
    width: 100%;
    display: block;
}

.task-container table tbody td {
    width: 100%;
}